# This contains commands that are executed for configuring the environment.
# 01_setup_chrome_for_selenium - Install chrome and chrome driver for selenium.
commands:
  01_setup_chrome_for_selenium:
    command: |
      # install chromedriver
      cd /tmp/ 
      wget https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
      mv chromedriver /usr/bin/chromedriver

      # Install chrome
      curl https://intoli.com/install-google-chrome.sh | bash
      mv /usr/bin/google-chrome-stable /usr/bin/google-chrome
